.debug-header {
    background-color: #0008;
    display: flex;
    margin-bottom: 1em;
    padding: 1em;
    
    h2 {
        margin: 0;
        font-size: 1rem;
    }
}

.configurator {
    &__footer {
        padding-block: 1em;
    }

    &__total {
        border: 1px dashed;
        margin-block: 0.5em;
        padding: 0.5em 1em;
    }

    &__nav {
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(4, 1fr);
        margin-inline: auto;
    }

    &__nav-btn {
        grid-column: span 2;
    }
}

.feature {
    padding-left: 1em;

    &--top {
        border: 1px solid;
        margin-block: 0.5em;
        padding-block: 0.5em;
    }
}

.btn {
    border: 1px solid;
    cursor: pointer;
    padding: 1em;
    text-align: center;

    &--inactive {
        pointer-events: none;
        opacity: 0.5;
    }
}