.debug-header {
  background-color: #0008;
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
}
.debug-header h2 {
  margin: 0;
  font-size: 1rem;
}
.configurator__footer {
  padding-block: 1em;
}
.configurator__total {
  border: 1px dashed;
  margin-block: 0.5em;
  padding: 0.5em 1em;
}
.configurator__nav {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
}
.configurator__nav-btn {
  grid-column: span 2;
}
.feature {
  padding-left: 1em;
}
.feature--top {
  border: 1px solid;
  margin-block: 0.5em;
  padding-block: 0.5em;
}
.btn {
  border: 1px solid;
  cursor: pointer;
  padding: 1em;
  text-align: center;
}
.btn--inactive {
  pointer-events: none;
  opacity: 0.5;
}
