.debug-header {
  background-color: #0008;
  margin-bottom: 1em;
  padding: 1em;
}
.debug-header h2 {
  margin: 0;
  font-size: 1rem;
}
.configurator__footer {
  background-color: var(--c-bg-l);
  bottom: 0;
  position: fixed;
  padding-block: 1em;
  width: 100%;
}
.configurator__nav {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: var(--page-col-w);
}
.step {
  padding-bottom: 4rem;
  margin-inline: auto;
  width: var(--page-col-w);
}
