.debug-header {
  background-color: #0008;
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
}
.debug-header h2 {
  margin: 0;
  font-size: 1rem;
}
.configurator__footer {
  padding-block: 1em;
}
.configurator__total {
  border: 1px dashed;
  margin-block: 0.5em;
  padding: 0.5em 1em;
}
.configurator__nav {
  display: flex;
  margin-inline: auto;
}
.feature {
  padding-left: 1em;
}
.feature--top {
  border: 1px solid;
  margin-block: 0.5em;
  padding-block: 0.5em;
}
